<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senai Games</title>
</head>
<body>
    <h1>Senai Games</h1>
    <h2>Inteligência artificial</h2>
    <h3>Análise de sentimentos</h3>
    <h4>Ambiente Acolhedor e Inclusivo</h4>
    <h5>Jogos, Educação e Bussiness</h5>
    <h6>Tudo em um só lugar</h6>
    <p>Com mais um click, você entrará em nosso ambiente gratuito de jogos e criação de jogos</p>
    <form>
        <input type="text" name ="Nome" placeholder="Qual o seu nome? ">
        <input type="text" name=""apelido placeholder="Qual o seu nickname? ">
        <select name="" id="">
            <option selected>Qual é o seu gênero favorito?</option>
            <option>Visual Novel</option>
            <option>RPG</option>
            <option>Plataforma</option>
        </select>
    </form>
</body>
</html>